@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Page";
}
<div class="text-center">
    <h1 class="display-4">Admin Page</h1>
    <br />
    <ul class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 w-220px">
        <li><a class="dropdown-item rounded-2" asp-area="" asp-controller="Faculties" asp-action="Index"> Manage Faculties</a></li>
        <li><a class="dropdown-item rounded-2" asp-area="" asp-area="" asp-page="/Groups/Index">Manage Groups</a></li>
        <li><a class="dropdown-item rounded-2" asp-area="" asp-controller="Subjects" asp-action="Index">Manage Disciplines</a></li>
        <li><a class="dropdown-item rounded-2" asp-area="" asp-controller="GroupSubjects" asp-action="Index">Assign Group to Discpline</a></li>
        <li><a class="dropdown-item rounded-2" asp-area="" asp-controller="" asp-action="">Assign Teacher to Discpline</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item rounded-2" asp-area="" asp-controller="User" asp-action="Index">Manage Users</a></li>
    </ul>
</div>